extends layout

block content

    .post
        h1=post.title
        ul.errors
            if errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
        p.meta Posted in&nbsp
            a(href='/categories/show/#{post.category}') #{post.category}&nbsp
            | by&nbsp
            a(href='/posts/display/#{post.author}') #{post.author}&nbsp
            | on #{moment(post.date).format("MM-DD-YYYY")}&nbsp

        img(src='#{post.mainimage}')
        !=post.body

        br
        hr
        if post.comments
            h3 Comments
            each comment, i in post.comments
                .comment
                    p.comment-name #{comment.name} (#{moment(comment.commentdate).format("MM-DD-HH:mm")}):

                    p.comment-body #{comment.body}
                    hr

        h3 Add Comment
        if errors
            ul.errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
        form.comment-form(method='post', action='/posts/addcomment')
            input(name='postid', type='hidden', value='#{post._id}')
            if(user)
                .form-group
                    label Name
                    input.form-control(type='text', name='name', value='#{user.username}', readonly='true')
            else
                .form-group
                    label Name
                    input.form-control(type='text', name='name')
            if(user)
                .form-group
                    label Email
                    input.form-control(type='text', name='email', value='#{user.email}', readonly='true')
            else
                .form-group
                    label Email
                    input.form-control(type='text', name='email')
            .form-group
                label Body
                textarea.form-control(type='text', name='body')
            br
            input.btn.btn-default(type='submit', name='submit',value='Add Comment')